<div class="component download-announcement-band">
  <div class="grid-wrapper ctas">
    <div class="width-12-12">
      <h2>Version {{site.data.releases.operator[0].version}} download is available!</h2>
      <h5>Download the latest Strimzi releases from <a href="{{ site.github_url }}" target="_blank">GitHub</a>. Use the Kafka operators to deploy and configure an Apache Kafka cluster on Kubernetes. The <a href="{{site.baseurl}}/docs/latest/#kafka-bridge-concepts-str">Kafka Bridge</a> provides a RESTful interface for your HTTP clients.</h5>
      <div class="ctas">
          <a href="https://github.com/strimzi/strimzi-kafka-operator/releases/tag/{{site.data.releases.operator[0].version}}" class="button-cta">Download Strimzi Kafka Operators</a>
          <a href="https://github.com/strimzi/strimzi-kafka-bridge/releases/tag/{{site.data.releases.bridge[0].version}}" class="button-cta">Download Strimzi Kafka Bridge</a>
      </div>
    </div>
  </div>
  <div class="grid-wrapper icons">
    <div class="width-4-12 width-12-12-m">
      <a href="{{site.baseurl}}/quickstarts/"><i class="far fa-clock fa-9x"></i></a>
      <p><a href="{{site.baseurl}}/quickstarts/">Quick Starts</a></p>
    </div>
    <div class="width-4-12 width-12-12-m">
      <a href="{{site.baseurl}}/documentation/"><i class="fas fa-book fa-9x"></i></a>
      <p><a href="{{site.baseurl}}/documentation/">Documentation</a></p>
    </div>
    <div class="width-4-12 width-12-12-m">
      <a href="{{ site.github_url }}" target="_blank"><i class="fab fa-github-alt fa-9x"></i></a>
      <p><a href="{{ site.github_url }}" target="_blank">GitHub</a></p>
    </div>
  </div>
</div>
