<div class="content-band">
  <div class="pattern-wrapper dark-bg">
    <div class="component grid-wrapper">

      <div class="width-12-12">
        <h2>What is Strimzi?</h2>
      </div>
      <div class="width-6-12 width-12-12-m">
        <p>
          Strimzi provides a way to run an Apache Kafka cluster on Kubernetes in various deployment configurations. For development it’s easy to set up a cluster in Minikube in a few minutes. For production you can tailor the cluster to your needs, using features such as rack awareness to spread brokers across availability zones, and Kubernetes taints and tolerations to run Kafka on dedicated nodes. You can expose Kafka outside Kubernetes using NodePort, Load balancer, Ingress and OpenShift Routes, depending on your needs, and these are easily secured using TLS.
        </p>
        <p>
          The Kube-native management of Kafka is not limited to the broker. You can also manage Kafka topics, users, Kafka MirrorMaker and Kafka Connect using Custom Resources. This means you can use your familiar Kubernetes processes and tooling to manage complete Kafka applications.
        </p>
      </div>
      <div class="width-6-12 width-12-12-m">
        <p>
          <strong class="text-caps">Getting Help</strong>
          <br/>
          If you encounter any issues while using Strimzi, you can get help several different ways:
          <ul>
            <li>Send an email to the <a href="https://lists.cncf.io/g/cncf-strimzi-users/topics">Strimzi Mailing list</a></li>
            <li>Ask your question on the <a href="https://slack.cncf.io/">Strimzi Slack Workspace</a></li>
          </ul>
        </p>

        <p>
          <strong class="text-caps">Contributing</strong>
          <br/>
          Do you want to contribute to the Strimzi project? Learn how you can contribute on our <a href="{{site.baseurl}}/join-us/">Join Us</a> page.
        </p>

        <p>
          <strong class="text-caps">Project Roadmap</strong>
          <br/>
          Learn about the future plans for the project by viewing the <a href="https://github.com/orgs/strimzi/projects/4">roadmap</a>.
        </p>
      </div>
    </div>
  </div>
</div>
