    <div class="width-12-12">
      <h2 class="text-centered blue">Strimzi is used by</h2>
    </div>

    <div class="container__usedby">
      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/helvetia_logo.png" />
      </div>
      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/redhat_logo.png" />
      </div>
      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/lightbend_logo.png" />
      </div>

      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/grupomasmovil_logo.png" />
      </div>
      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/sbb_logo.svg" />
      </div>
      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/swisscom_logo.png" />
      </div>

      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/smart-ix-logo-colored-transparent.png" />
      </div>
      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/axual_logo.png" />
      </div>
      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/marlow-logo.svg" />
      </div>

      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/atruvia_logo_online_rgb.png" />
      </div>
      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/baloise_logo.png" />
      </div>
      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/procure_ai_logo.png" />
      </div>

      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/littlehorse_logo.png" />
      </div>
      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/decathlon_digital_logo.svg" />
      </div>
      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/skillsoft_logo.png" />
      </div>

      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/hetzner-logo-slogan_white_space-red.svg" />
      </div>
      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/aenix_logo.svg" />
      </div>
      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/cozystack_logo.svg" />
      </div>

      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/Reddit_Logo_Wordmark_OrangeRed.svg" />
      </div>
      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/alauda.logo.png" />
      </div>
      <div class="item__usedby">
        <img src="{{site.baseurl}}/assets/images/randoli-logo.png" />
      </div>

    </div>

  <div class="margin-tb-xl container__cnative">
    <div class="cnative__icon">
      <a href="https://cncf.io/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/cloud_native_logo.png" />
      </a>
    </div>
      <p class="cnative__text">
        We are a <a href="https://cncf.io/" target="_blank">Cloud Native Computing Foundation</a> incubating project.
      </p>
  </div>
  <!--<div class="grid-wrapper">
    <div class="width-7-12 width-12-12-m align-self-center">
      <p class="text-centered margin-tb-0">
        Join us at<br/>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/" target="_blank">KubeCon + CloudNativeCon: Europe 2020</a><br/>
        Virtual: August 17-20
      </p>
    </div>
    <div class="width-5-12 width-12-12-m align-self-center">
      <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/kubecon_cloudnative_logos.png">
      </a>
    </div>
  </div>-->

