<div class="video-content-band gradient-bg full-width-bg">
  <div class="pattern-wrapper">
    <div class="component grid-wrapper">
      <div class="width-6-12 width-12-12-m video-container">
        <iframe src="https://www.youtube.com/embed/144O4YumfWk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h1>Kafka on Kubernetes in a few minutes</h1>
        <p>Strimzi provides a way to run an Apache Kafka cluster on Kubernetes in various deployment configurations.<br/>
        Use the <a href="{{site.baseurl}}/quickstarts/">Quick Starts</a> to get started now!
        </p>
      </div>
      <div class="width-4-12 width-12-12-m">
        <h4>Secure by Default</h4>
        <p>
          <ul>
            <li>Built-in security</li>
            <li>TLS, SCRAM-SHA, and OAuth authentication</li>
            <li>Automated Certificate Management</li>
          </ul>
        </p>
      </div>
      <div class="width-4-12 width-12-12-m">
        <h4>Simple yet Configurable</h4>
        <p>
          <ul>
            <li>NodePort, Load balancer and Ingress options</li>
            <li>Rack awareness for HA</li>
            <li>Use dedicated nodes for Kafka</li>
          </ul>
        </p>
      </div>
      <div class="width-4-12 width-12-12-m">
        <h4>Kubernetes-Native Experience</h4>
        <p>
          <ul>
            <li>Use kubectl to manage Kafka</li>
            <li>Operator-based (<a href="https://kubernetes.io/docs/concepts/extend-kubernetes/operator/">What is an operator?</a>)</li>
            <li>Manage Kafka using GitOps</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>