<div class="component-slim homepage-usedby-band">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3 class="text-centered blue">Strimzi is used by</h3>
    </div>

    <div class="width-4-12 width-12-12-m logo-img"><img src="{{site.baseurl}}/assets/images/helvetia_logo.png"></div>
    <div class="width-4-12 width-12-12-m logo-img"><img src="{{site.baseurl}}/assets/images/redhat_logo.png"></div>
    <div class="width-4-12 width-12-12-m logo-img"><img src="{{site.baseurl}}/assets/images/lightbend_logo.png"></div>

    <div class="width-4-12 width-12-12-m margin-tb-xl logo-img"><img src="{{site.baseurl}}/assets/images/grupomasmovil_logo.png"></div>
    <div class="width-4-12 width-12-12-m margin-tb-xl logo-img"><img src="{{site.baseurl}}/assets/images/sbb_logo.svg"></div>
    <div class="width-4-12 width-12-12-m margin-tb-xl logo-img"><img src="{{site.baseurl}}/assets/images/swisscom_logo.png"></div>

    <div class="width-4-12 width-12-12-m logo-img"><img src="{{site.baseurl}}/assets/images/smart-ix-logo-colored-transparent.png"></div>
    <div class="width-4-12 width-12-12-m logo-img"><img src="{{site.baseurl}}/assets/images/axual_logo.png"></div>
    <div class="width-4-12 width-12-12-m logo-img"><img src="{{site.baseurl}}/assets/images/marlow-logo.svg"></div>

    <div class="width-2-12 width-6-12-m"></div>
    <div class="width-4-12 width-12-12-m margin-tb-xl logo-img"><img src="{{site.baseurl}}/assets/images/atruvia_logo_online_rgb.png"></div>
    <div class="width-4-12 width-12-12-m margin-tb-xl logo-img"><img src="{{site.baseurl}}/assets/images/baloise_logo.png"></div>
    <div class="width-4-12 width-12-12-m margin-tb-xl logo-img"><img src="{{site.baseurl}}/assets/images/procure_ai_logo.png"></div>
    <div class="width-2-12 width-6-12-m"></div>
    
  </div>
  <div class="grid-wrapper margin-tb-xl">
    <div class="width-5-12 width-12-12-m cloud-native">
      <a href="https://cncf.io/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/cloud_native_logo.png">
      </a>
    </div>
    <div class="width-7-12 width-12-12-m align-self-center">
      <p class="margin-tb-0">We are a <a href="https://cncf.io/" target="_blank">Cloud Native Computing Foundation</a> sandbox project.</p>
    </div>
  </div>
  <!--<div class="grid-wrapper">
    <div class="width-7-12 width-12-12-m align-self-center">
      <p class="text-centered margin-tb-0">
        Join us at<br/>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/" target="_blank">KubeCon + CloudNativeCon: Europe 2020</a><br/>
        Virtual: August 17-20
      </p>
    </div>
    <div class="width-5-12 width-12-12-m align-self-center">
      <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/kubecon_cloudnative_logos.png">
      </a>
    </div>
  </div>-->
</div>
