<div class="component-wrapper contributions-band">
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/community_icon_download.svg">
    <p>
      <a href="{{site.baseurl}}/downloads" class="title">Download Strimzi</a>
      Did we mention that Strimzi is free? Download today and see what we’ve been working on all this time.
    </p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/community_icon_twitter.svg">
    <p>
      <a href="https://twitter.com/{{site.twitter_username}}" target="_blank" class="title">Follow Strimzi on Twitter</a>
      Most of our updates go out on Twitter. Sometimes our project team speaks at industry events, and sometimes they post cool ways people use Strimzi. Wash, rinse, and retweet.
    </p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/community_icon_submitbugs.svg">
    <p>
      <a href="https://github.com/strimzi/strimzi-kafka-operator/issues" target="_blank" class="title">Submit a bug</a>
      Let us know if you find something that needs to be fixed. Strimzi is for everyone and we want it to be great, so please create a ticket and let us know what happened.
    </p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/community_icon_submitcode.svg">
    <p>
      <a href="https://github.com/strimzi/strimzi-kafka-operator/labels/good-start" target="_blank" class="title">Submit some code</a>
      Check our issue tracker for an open ticket that looks interesting, fork the project, and code away.
    </p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/community_icon_chatroom.svg">
    <p>
      <a href="https://slack.cncf.io/" target="_blank" class="title">Join our chatroom</a>
      Our project team has an active and open chatroom where you can listen in and ask questions. Stop by and say hello, but keep in mind that basic rules of civility apply.
    </p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/community_icon_editdocs.svg">
    <p>
      <a href="{{site.baseurl}}/contributing/guide/" class="title">Edit the Documentation</a>
      Help us help everyone. Let us know if you find a typo or an error. We’re human too, and your input is valuable.
    </p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/community_icon_blog.svg">
    <p>
      <a href="https://github.com/strimzi/strimzi.github.io" target="_blank" class="title">Blog with us</a>
      Share your projects and ideas! Write up your experience in the form of an editorial or how-to, take some screenshots, and then fork the website. We use markdown and AsciiDoc, so you can submit your post as a pull request.
    </p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/community_icon_translate.svg">
    <p>
      <a href="{{site.baseurl}}/contributing" class="title">Translate into your language</a>
      Strimzi is used all over the world. You’re welcome to help translate this page, the documentation or even the interface itself into your native language. All you have to do is make the edits and submit a pull request.
    </p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/community_icon_spread.svg">
    <p>
      <a href="https://twitter.com/{{site.twitter_username}}" target="_blank" class="title">Spread the word</a>
      The simplest and easiest way to help the Strimzi community is to act as a project ambassador, follow us on Twitter, and show up to community events in your area.
    </p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/community_icon_zoom.svg">
    <p>
      <a href="#" target="_blank" class="title">Biweekly Zoom Meeting</a>
      Join us for our biweekly open community meeting for anyone interested in all things Strimzi.
    </p>
  </div>
</div>