<div class="kraft-band">
  <div class="component-slim grid-wrapper">
    <div class="width-12-12">
      <h2 class="blue" id="kraft-information-sources">KRaft information sources</h2>
      
      <p>This page lists information sources related to KRaft adoption and ZooKeeper removal.
        Please keep in mind that some of the information in the old videos and blog posts might be out of date.
        Always refer to the documentation for your Strimzi version, which is regularly updated to provide the latest information.</p>

      <h3 id="kraft-documentation">Documentation</h3>
      
      <p>The following documentation sections cover using KRaft and migration from ZooKeeper-based clusters:</p>

      <ul>
        <li><a href="https://strimzi.io/docs/operators/latest/deploying#assembly-kraft-mode-str">Using Kafka in KRaft mode</a></li>
        <li><a href="https://strimzi.io/docs/operators/latest/deploying#deploying-kafka-cluster-kraft-str">Deploying a Kafka cluster in KRaft mode</a></li>
        <li><a href="https://strimzi.io/docs/operators/latest/deploying#proc-deploy-migrate-kraft-str">Migrating to KRaft mode</a></li>
      </ul>

      <p></p>

      <h3 id="kraft-blog-posts">Blog posts</h3>

      <p>The following blog posts cover KRaft adoption and ZooKeeper removal:</p>

      <ul>
        <li><a href="https://strimzi.io/blog/2024/08/21/taming-apache-kafka-4.0/">Taming Apache Kafka 4.0</a> (August 21st, 2024)</li>
        <li><a href="https://strimzi.io/blog/2024/03/22/strimzi-kraft-migration/">Migrate your Strimzi-operated cluster from ZooKeeper to KRaft</a> (March 22nd, 2024)</li>
        <li><a href="https://strimzi.io/blog/2024/03/21/kraft-migration/">From ZooKeeper to KRaft: How the Kafka migration works</a> (March 21st, 2024)</li>
        <li><a href="https://strimzi.io/blog/2023/11/02/unidirectional-topic-operator/">Introducing the Unidirectional Topic Operator</a> (November 2nd, 2023)</li>
        <li><a href="https://strimzi.io/blog/2023/09/11/kafka-node-pools-supporting-kraft/">Kafka Node Pools: Supporting KRaft (ZooKeeper-less Apache Kafka)</a> (September 11th, 2023)</li>
      </ul>

      <p></p>

      <h3 id="kraft-videos">Videos & Conferences</h3>

      <p>The following videos and conference talks cover KRaft adoption and ZooKeeper removal:</p>

      <ul>
        <li><a href="https://youtu.be/bM7YhKpSkBQ">KRaft: Apache Kafka without its ZooKeeper</a> (Axual Kafka Meetup Utrecht, Oct 8th, 2024)</li>
        <li><a href="https://youtu.be/CxTCgxiA2H8">Migrate your Kafka cluster from ZooKeeper to KRaft with Strimzi</a> (March 25th, 2024)</li>
        <li><a href="https://youtu.be/LjQ-l-Yea9g">Released From the Cage: Apache Kafka Without Its ZooKeeper</a> (DevConf.CZ, Jun 15th, 2024)</li>
        <li><a href="https://youtu.be/PiszQV9h-88">Growing out of StatefulSets</a> (KCD Czech & Slovak, Jun 7th, 2024)</li>
        <li><a href="https://youtu.be/74fDjwigLms">Released From the Cage: Apache Kafka Without Its ZooKeeper</a> (DoK Day @ KubeCon, March 19th, 2024)</li>
        <li><a href="https://youtu.be/_zpjMh8p02Y">Strimzi: Toward a ZooKeeper-less Future</a> (KubeCon EU, March 19th, 2024)</li>
        <li><a href="https://youtu.be/mT7dbLNCGtQ">Road to KRaft: ZooKeeper-less Kafka in Strimzi 0.29.0</a> (May 26th, 2022)</li>
      </ul>

      <p></p>

    </div>
  </div>
</div>