<!-- Overwrite default header from "minima" theme -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125249459-1"></script>
<!-- Google Analytics Tag -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125249459-1');
</script>
<div align="center">
    <br />
    <img alt="Strimzi" src="/assets/strimzi.png" />
</div>
</br>
<nav>
    <header align="center">
    {% for item in site.data.menu.header %}
    <a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
    {% if forloop.last == false %}
    |
    {% endif %}
    {% endfor %}
    </header>
</nav>
