<!-- Overwrite default header from "minima" theme -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125249459-1"></script>
<!-- Google Analytics Tag -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125249459-1');
</script>
<!-- Header bar with Red Hat and Red Hat Developer Program logos and links -->
<div id="rhbar" style="height:40px;background-color: #202020">
    <a href="https://developers.redhat.com" style="float: right;background-image: url(https://static.jboss.org/images/rhbar/rhd_reverse.png);background-repeat: no-repeat;height: 40px;width: 136px;"></a>
    <a href="https://www.redhat.com/" style="float: right;background-image: url(/assets/Logo-RedHat-A-Reverse-RGB.svg);background-repeat: no-repeat;height: 40px;width: 85px;margin-top: 10px;margin-right: 15px;"></a>
</div>
<div align="center">
    <br />
    <img alt="Strimzi" src="https://raw.githubusercontent.com/strimzi/strimzi-kafka-operator/master/documentation/logo/strimzi.png" />
</div>
</br>
<nav>
    <header align="center">
    {% for item in site.data.menu.header %}
    <a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
    {% if forloop.last == false %}
    |
    {% endif %}
    {% endfor %}
    </header>
</nav>
