<div class="site-content project-footer">
  <div class="grid-wrapper">
    <div class="width-1-12"></div>
    <div class="width-3-12 width-12-12-m justify-self-center align-self-center">
      <div class="logo-wrapper">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/strimzi_logo_alt.png" class="project-logo" title="Project Name"></a>
      </div>
    </div>
    <div class="width-3-12 width-12-12-m justify-self-center align-self-center">
      <p>Strimzi provides a way to run an Apache Kafka cluster on Kubernetes in various deployment configurations.</p>
    </div>
    <div class="width-2-12 width-12-12-m justify-self-center align-self-center">
      <p>
        <a href="{{ site.github_url }}"><i class="fab fa-github-alt"></i> Strimzi</a><br/>
        <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter"></i> strimziio</a>
      </p>
    </div>
    <div class="width-3-12 width-12-12-m justify-self-center align-self-center">
      <p>
        Strimzi is licensed under the<br/>
        <a href="https://strimzi.io/LICENSE">Apache Licence, Version 2.0</a>
      </p>
    </div>
  </div>
</div>
