<div class="site-content project-footer">
  <div class="grid-wrapper">
    <div class="width-1-12"></div>
    <div class="width-3-12 width-12-12-m justify-self-center align-self-center">
      <div class="logo-wrapper">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/strimzi_logo_alt.png" class="project-logo" title="Project Name"></a>
      </div>
    </div>
    <div class="width-5-12 width-12-12-m justify-self-center align-self-center">
      <p>Strimzi provides a way to run an Apache Kafka cluster on Kubernetes in various deployment configurations.</p>
    </div>
    <div class="width-2-12 width-12-12-m justify-self-center align-self-center">
      <p>
        <a href="{{ site.github_url }}"><i class="fab fa-github-alt"></i> Strimzi</a><br/>
        <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter"></i> strimziio</a><br/>
        <a href="{{ site.linkedin_url }}"><i class="fab fa-linkedin"></i> Strimzi</a><br/>
        <a href="https://youtube.com/@{{site.youtube_handle}}"><i class="fab fa-youtube"></i> Strimzi</a>
      </p>
    </div>
    <div class="width-1-12"></div>
  </div>
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m justify-self-center align-self-center">
      <br />
      <p class="text-centered copyright-cncf">
        Copyright &copy; Strimzi a Series of LF Projects, LLC<br />
        For website terms of use, trademark policy and other project policies please see <a href="https://lfprojects.org/policies/">lfprojects.org/policies/</a>.
      </p>
    </div>
  </div>
</div>
