<div class="site-content project-footer">
  <div class="grid-wrapper">
    <div class="width-1-12"></div>
    <div class="width-3-12 width-12-12-m justify-self-center align-self-center">
      <div class="logo-wrapper">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/strimzi_logo_alt.png" class="project-logo" title="Project Name"></a>
      </div>
    </div>
    <div class="width-5-12 width-12-12-m justify-self-center align-self-center">
      <p>Strimzi provides a way to run an Apache Kafka cluster on Kubernetes in various deployment configurations.</p>
    </div>
    <div class="width-2-12 width-12-12-m justify-self-center align-self-center">
      <p>
        <a href="{{ site.github_url }}"><i class="fab fa-github-alt"></i> Strimzi</a><br/>
        <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter"></i> strimziio</a><br/>
        <a href="https://youtube.com/@{{site.youtube_handle}}"><i class="fab fa-youtube"></i> Strimzi</a>
      </p>
    </div>
    <div class="width-1-12"></div>
  </div>
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m justify-self-center align-self-center">
      <br />
      <p class="text-centered copyright-strimzi">
        &copy; Strimzi Authors {{ 'now' | date: "%Y" }} | Documentation distributed under <a href="https://creativecommons.org/licenses/by/4.0">CC-BY-4.0</a>
      </p>
      <br />
      <p class="text-centered copyright-cncf">
        &copy; {{ 'now' | date: "%Y" }} The Linux Foundation. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage/">Trademark Usage</a> page.
      </p>
    </div>
  </div>
</div>
