<div class="component-slim download-archives-band">
  <div class="grid-wrapper">
    <div class="width-12-12">
      {% if page.layout == 'downloads' %}
        <h3>{{page.title}} Archive</h3>
      {% else %}
        <h3>{{page.title}}</h3>
      {% endif %}
    </div>
    <div class="width-6-12 width-12-12-m">
      <h4>Strimzi Kafka Operators</h4>
      {% for oRelease in site.data.releases.operator %}
          <ul>
            <li><a href="https://github.com/strimzi/strimzi-kafka-operator/releases/tag/{{oRelease.version}}">{{oRelease.version}}</a></li>
          </ul>
      {% endfor %}
    </div>
    <div class="width-6-12 width-12-12-m">
      <h4>Strimzi Kafka Bridge</h4>
      {% for bRelease in site.data.releases.bridge %}
          <ul>
            <li><a href="https://github.com/strimzi/strimzi-kafka-bridge/releases/tag/{{bRelease.version}}">{{bRelease.version}}</a></li>
          </ul>
      {% endfor %}
    </div>
  </div>
</div>
