<div class="component-slim download-release-band">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3>Latest Stable Releases</h3>
    </div>

      {% assign oRelease = site.data.releases.operator[0].version %}
      <div class="width-6-12 width-12-12-m version-table">
        <table class="tg">
          <tr>
            <th colspan="3">
              <div class="version-name">
                Strimzi Kafka Operator {{oRelease}}<span class="release-date"></span>
              </div>
            </th>
          </tr>
          <tr>
            <td class="description">strimzi-{{oRelease}}</td>
            <td class="licence">AL 2.0</td>
            <td class="links">
              <a href="https://github.com/strimzi/strimzi-kafka-operator/releases/download/{{oRelease}}/strimzi-{{oRelease}}.tar.gz">tar.gz</a>&nbsp;&#124;&nbsp;
              <a href="https://github.com/strimzi/strimzi-kafka-operator/releases/download/{{oRelease}}/strimzi-{{oRelease}}.zip">zip</a>
            </td>
          </tr>
          <tr>
            <td class="description">strimzi-cluster-operator-{{oRelease}}</td>
            <td class="licence">AL 2.0</td>
            <td class="links">
              <a href="https://github.com/strimzi/strimzi-kafka-operator/releases/download/{{oRelease}}/strimzi-cluster-operator-{{oRelease}}.yaml">yaml</a>
            </td>
          </tr>
          <tr>
            <td class="description">strimzi-kafka-operator-helm-3-chart-{{oRelease}}</td>
            <td class="licence">AL 2.0</td>
            <td class="links">
              <a href="https://github.com/strimzi/strimzi-kafka-operator/releases/download/{{oRelease}}/strimzi-kafka-operator-helm-3-chart-{{oRelease}}.tgz">tgz</a>
            </td>
          </tr>
          <tr>
            <td class="description">strimzi-topic-operator-{{oRelease}}</td>
            <td class="licence">AL 2.0</td>
            <td class="links">
              <a href="https://github.com/strimzi/strimzi-kafka-operator/releases/download/{{oRelease}}/strimzi-topic-operator-{{oRelease}}.yaml">yaml</a>
            </td>
          </tr>
          <tr>
            <td class="description">strimzi-user-operator-{{oRelease}}</td>
            <td class="licence">AL 2.0</td>
            <td class="links">
              <a href="https://github.com/strimzi/strimzi-kafka-operator/releases/download/{{oRelease}}/strimzi-user-operator-{{oRelease}}.yaml">yaml</a>
            </td>
          </tr>
          <tr>
            <td class="description">strimzi-crds-{{oRelease}}</td>
            <td class="licence">AL 2.0</td>
            <td class="links">
              <a href="https://github.com/strimzi/strimzi-kafka-operator/releases/download/{{oRelease}}/strimzi-crds-{{oRelease}}.yaml">yaml</a>
            </td>
          </tr>
          <tr>
            <td class="description">Source Code</td>
            <td class="licence">AL 2.0</td>
            <td class="links">
              <a href="https://github.com/strimzi/strimzi-kafka-operator/archive/{{oRelease}}.tar.gz">tar.gz</a>&nbsp;&#124;&nbsp;
              <a href="https://github.com/strimzi/strimzi-kafka-operator/archive/{{oRelease}}.zip">zip</a>
            </td>
          </tr>
        </table>
      </div>

      {% assign bRelease = site.data.releases.bridge[0].version %}
      <div class="width-6-12 width-12-12-m version-table">
        <table class="tg">
          <tr>
            <th colspan="3">
              <div class="version-name">
                Strimzi Kafka Bridge {{bRelease}}<span class="release-date"></span>
              </div>
            </th>
          </tr>
          <tr>
            <td class="description">kafka-bridge-{{bRelease}}</td>
            <td class="licence">AL 2.0</td>
            <td class="links">
              <a href="https://github.com/strimzi/strimzi-kafka-bridge/releases/download/{{bRelease}}/kafka-bridge-{{bRelease}}.tar.gz">tar.gz</a>&nbsp;&#124;&nbsp;
              <a href="https://github.com/strimzi/strimzi-kafka-bridge/releases/download/{{bRelease}}/kafka-bridge-{{bRelease}}.zip">zip</a>
            </td>
          </tr>
          <tr>
            <td class="description">Source Code</td>
            <td class="licence">AL 2.0</td>
            <td class="links">
              <a href="https://github.com/strimzi/strimzi-kafka-bridge/archive/{{bRelease}}.tar.gz">tar.gz</a>&nbsp;&#124;&nbsp;
              <a href="https://github.com/strimzi/strimzi-kafka-bridge/archive/{{bRelease}}.zip">zip</a>
            </td>
          </tr>
        </table>
      </div>

    <div class="width-12-12">
      <p>Full list of changes can be found under the <a href="https://github.com/strimzi/strimzi-kafka-operator/releases/tag/{{site.data.releases.operator[0].version}}">{{site.data.releases.operator[0].version}} release</a>.</p>
      <p><strong>Upgrading from Strimzi {{site.data.releases.operator[1].version}}? See the <a href="{{site.baseurl}}/documentation/">documentation</a> for upgrade instructions.</strong></p>
      <p>The container images are available under the <a href="https://quay.io/organization/strimzi">Strimzi organization</a> in the Quay.io container registry.</p>
    </div>
  </div>
</div>
