<div class="component-slim supported-versions-band" style="padding-top: 0">
  <div class="grid-wrapper">
    <div class="width-12-12">
        <h3 id="supported-versions" style="margin-top: 0">Supported versions</h3>
    </div>

    <div class="width-12-12 width-12-12-m version-table">
      <table class="tg">
        <tr>
          <th>
            <div class="supported-component">
              Operators<span class="release-date"></span>
            </div>
          </th>
          <th>
            <div class="supported-component">
              Strimzi Kafka Bridge<span class="release-date"></span>
            </div>
          </th>
          <th>
            <div class="supported-component">
              Strimzi OAuth<span class="release-date"></span>
            </div>
          </th>
          <th>
            <div class="supported-component">
              Kafka versions<span class="release-date"></span>
            </div>
          </th>
          <th>
            <div class="supported-component">
              Kubernetes versions<span class="release-date"></span>
            </div>
          </th>
        </tr>

        {% for oRelease in site.data.releases.operator %}
          {% if oRelease.kafkaVersions %}
        <tr>
          <td class="description"><a href="https://github.com/strimzi/strimzi-kafka-operator/releases/tag/{{oRelease.version}}">{{oRelease.version}}</a></td>
          <td class="version">{% if oRelease.bridgeVersion %}<a href="https://github.com/strimzi/strimzi-kafka-bridge/releases/tag/{{oRelease.bridgeVersion}}">{{oRelease.bridgeVersion}}</a>{% endif %}</td>
          <td class="version">{% if oRelease.oAuthVersion %}<a href="https://github.com/strimzi/strimzi-kafka-oauth/releases/tag/{{oRelease.oAuthVersion}}">{{oRelease.oAuthVersion}}</a>{% else %}n/a{% endif %}</td>
          <td class="version">{% if oRelease.kafkaVersions %}{{oRelease.kafkaVersions}}{% endif %}</td>
          <td class="version">{% if oRelease.kubernetesVersions %}{{oRelease.kubernetesVersions}}{% endif %}{% if oRelease.usesCrdV1Beta1 %} <sup><a href="#support-footnotes">1</a></sup>{% endif %}{% if oRelease.usesPdbV1beta1 %} <sup><a href="#support-footnotes">2</a></sup>{% endif %}</td>
        </tr>
          {% endif %}
        {% endfor %}
      </table>

    </div>

    <div id="support-footnotes" class="width-12-12">
      <p><sup>1</sup> Uses <code>v1beta1</code> version of the <code>apiextensions.k8s.io</code> API which is not supported on Kubernetes 1.22 and newer.</p>
      <p><sup>2</sup> Uses <code>v1beta1</code> version of the <code>PodDisruptionBudget</code> API which is not supported on Kubernetes 1.25 and newer.</p>
    </div>
  </div>
</div>
