<div class="component-slim download-release-band" style="padding-top: 0">
  <div class="grid-wrapper">
    <div class="width-12-12">
        <h3 style="margin-top: 0">Supported versions</h3>
    </div>

    <div class="width-12-12 width-12-12-m version-table">
      <table class="tg">
        <tr>
          <th>
            <div class="version-name">
              Operators
            </div>
          </th>
          <th>
            <div class="version-name">
              Strimzi Kafka Bridge
            </div>
          </th>
          <th>
            <div class="version-name">
              Strimzi OAuth
            </div>
          </th>
          <th>
            <div class="version-name">
              Kafka versions
            </div>
          </th>
          <th>
            <div class="version-name">
              Kubernetes versions
            </div>
          </th>
        </tr>
        <tr>
          <td class="description"><a href="https://github.com/strimzi/strimzi-kafka-operator/releases/tag/0.21.0">0.21.0</a></td>
          <td class="licence">0.19.0</td>
          <td class="licence">0.7.0</td>
          <td class="licence">2.7.0, 2.6.0</td>
          <td class="licence">1.16+</td>
        </tr>
        <tr>
          <td class="description"><a href="https://github.com/strimzi/strimzi-kafka-operator/releases/tag/0.20.0">0.20.0</a></td>
          <td class="licence">0.19.0</td>
          <td class="licence">0.6.1</td>
          <td class="licence">2.6.0, 2.5.1, 2.5.0</td>
          <td class="licence">1.11+</td>
        </tr>
        <tr>
          <td class="description"><a href="https://github.com/strimzi/strimzi-kafka-operator/releases/tag/0.19.0">0.19.0</a></td>
          <td class="licence">0.18.0</td>
          <td class="licence">0.5.0</td>
          <td class="licence">2.5.0, 2.4.1, 2.4.0</td>
          <td class="licence">1.11+</td>
        </tr>
      </table>
    </div>
</div>
