<div class="component presentation-cards-band">
  <div class="grid-wrapper">
    {% for entry in site.data.presentations.strimzi_presentations %}
      <div class="width-4-12 width-12-12-m card">
        <p>
          <strong>{{entry.name}}</strong>
        </p>
        <p>{{entry.info}}</p>
        <ul>
          {% if entry.video_url %}
          <li><a href="{{entry.video_url}}" target="_blank"><i class="fas fa-film"></i> Video</a></li>
          {% endif %}
          {% if entry.slides_url %}
          <li><a href="{{entry.slides_url}}" target="_blank"><i class="fas fa-chart-bar"></i> Slides</a></li>
          {% endif %}
          {% if entry.demo_url %}
          <li><a href="{{entry.demo_url}}" target="_blank"><i class="fas fa-user-friends"></i> Demo</a></li>
          {% endif %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
