<div class="tabs post">
  <!------------------- STARTING MINIKUBE TAB ------------------->
  <input type="radio" name="quickstarts-tab" id="quickstartsTab1" checked="checked">
  <label for="quickstartsTab1">Getting Starting on Minikube</label>
  <div class="tab">
    {% capture tab_one %}{% include_relative minikube.md %}{% endcapture %} {{ tab_one | markdownify }}
  </div>

  <!------------------- STARTING OKD TAB ------------------->
  <input type="radio" name="quickstarts-tab" id="quickstartsTab2">
  <label for="quickstartsTab2">Starting OKD</label>
  <div class="tab">
    {% capture tab_two %}{% include_relative okd.md %}{% endcapture %} {{ tab_two | markdownify }}
  </div>
</div>
