<div class="tabs post">
  <!------------------- MINIKUBE TAB ------------------->
  <input type="radio" name="quickstarts-tab" id="quickstartsTab1" checked="checked">
  <label for="quickstartsTab1">Minikube</label>
  <div class="tab">
    {% capture tab_one %}{% include_relative minikube.md %}{% endcapture %} {{ tab_one | markdownify }}
  </div>

  <!-- OKD has been removed because we do not support 3.11 anymore. We should try to replace it with something else! -->
  {% comment %}
  <!------------------- OKD TAB ------------------->
  <!--<input type="radio" name="quickstarts-tab" id="quickstartsTab2">
  <label for="quickstartsTab2">OKD</label>
  <div class="tab">
    {% capture tab_two %}{% include_relative okd.md %}{% endcapture %} {{ tab_two | markdownify }}
  </div>-->
  {% endcomment %}

    <!------------------- KUBERNETES KIND TAB ------------------->
    <input type="radio" name="quickstarts-tab" id="quickstartsTab3">
    <label for="quickstartsTab3">Kubernetes Kind</label>
    <div class="tab">
      {% capture tab_three %}{% include_relative kind.md %}{% endcapture %} {{ tab_three | markdownify }}
    </div>

  <!------------------- DOCKER DESKTOP TAB ------------------->
  <input type="radio" name="quickstarts-tab" id="quickstartsTab4">
  <label for="quickstartsTab4">Docker Desktop</label>
  <div class="tab">
    {% capture tab_four %}{% include_relative dockerdesktop.md %}{% endcapture %} {{ tab_four | markdownify }}
  </div>
</div>
