.connectors-cards-grid {
  background-color: #98D5E7;

  .cards-grid-wrapper {
    padding: 2rem 0;
    grid-column: span 12;

    .card {
      grid-column: span 3;
      @media (max-width: 960px) {
        grid-column: span 6;
      }
      @media (max-width: 768px) {
        grid-column: span 12;
      }
    }

    &.half-width {
      grid-column: span 6;

      .card {
        grid-column: span 6;
        @media (max-width: 1024px) {
          grid-column: span 12;
        }
      }
    }
  }

  .connector-content-wrapper {
    background-color: $white;
    padding: 2rem;
    display: none;
    

    &.open {
      display: block;

      // margin-right: -13rem;
      @media screen and (min-width: 1025px) {
        width: 100%;
      }
      @media screen and (max-width: 1024px) {
        margin-right: -6rem;
        margin-left: -6rem;
      }
      @media screen and (max-width: 768px) {
        margin-right: -2rem;
        margin-left: -2rem;
      }
    }

    ul.connector-links {
      list-style: none;
      padding-inline-start: 0;
      font-size: 1rem;
      li {
        display: inline-block;
        margin-right: 1rem;
      }
    }

  }

  .connector-list {
    margin-bottom: 2rem;
    grid-gap: 1em;
  }

  .card {
    background-color: $white;
    border: 2px solid $blue;
    padding: 1rem;

    .title {
      min-height: 45px;
      margin-bottom: .5rem;
    }

    i {
      color: $green !important;
      float: right;
    }
  }

  .connector-info {
    background-color: #E5E5E5;
    padding: 8px 16px;
    p {
      margin: 0;
    }
  }

  .exit-content {
    i, span {
      display: none;
      cursor: pointer;
      color: $dark-blue;
    }
    @media screen and (min-width: 1024px) {
      i {
        display: block;
        text-align: right;
        font-size: 2rem;
      }
    }
    @media screen and (max-width: 1024px) {  
      span {
        display: block;
        text-decoration: underline;
      }
    }
  }

  .conn-tabs {
    display: flex;
    flex-wrap: wrap;
  }
  .conn-tabs label {
    order: 1;
    display: block;
    margin: 0 1rem 2rem 0;
    cursor: pointer;
    color: $link;
    font-size: 1.5rem;
    line-height: 2rem;
    transition: background ease 0.2s;
  }
  .conn-tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
  }
  .conn-tabs input[type="radio"] {
    display: none;
    &:checked + label {
      position: relative;
      top: 1px;
      border-bottom: 5px solid $dark-blue;
      font-weight: 600;
      color: $dark-blue;
    }
    &:checked + label + .tab {
      display: block;
    }
  }
}