.homepage-usedby-band {
  img {
    width: 100%;
    max-width: 300px;
  }
  .logo-img {
    @extend .justify-self-center;
    @extend .align-self-center;
  }
  @media screen and (min-width: 768px) {
    .cloud-native {
      justify-self: end;
    }
  }
  @media screen and (max-width: 1024px) {
    text-align: center;
  }
}
