/* For mobile devices */;

@media only screen and (max-width: 1024px) {

  .toc-left {
    display: none;
  }

  .doc-content {
    width: 95% !important;
    padding-top: 7rem;
    padding-left: 1rem;
    overflow-x: hidden;
  }

  .doc-content .toc {
    display: contents;
    list-style: none;
  }

  .toc ul {
    list-style: none;
  }

  .toc ol {
    display: grid;
  }

  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

}

/* For tablet devices */

@media only screen and (min-width: 1024px) and (max-width: 1450px) {

  .doc-content {
    float: right;
    padding-right: 1rem;
    padding-left: 3rem;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 75%
  }

  .doc-content .toc {
    display: none;
  }

  .main-nav .menu {
    margin-top: 1rem;
    float: none !important;
  } 

  .main-nav .menu a {
    font-size: 1rem;
  }

  h2 {
    font-size: 2.4rem;
  }
  
  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.25rem;
  }

}

/* For desktop devices */

@media only screen and (min-width: 1450px) { 

  .doc-content {
    float: right;
    padding-right: 1rem;
    padding-left: 3rem;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 75%
  }

  .doc-content .toc {
    display: none;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.75rem;
  }

}

/* navigation formats */

.main-nav .container {
  padding-right: 2rem;
  padding-left: 2rem;
} 

/* navigation header */


.doc-nav {

  @media screen and (max-width: 1450px) { 
    padding: 0 0rem;
    min-width: max-content;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 1;
    border-bottom: #182C46;
    box-shadow: 0px 0px 12px rgba(25, 72, 133, 0.1);
  }
  @media screen and (min-width: 1450px) {
    padding: 0 0rem;
    min-width: max-content;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 1;
    border-bottom: #182C46;
    box-shadow: 0px 0px 12px rgba(25, 72, 133, 0.1);
  }
}   

/* link targets */

/* mobile */
@media only screen and (max-width: 1024px) {

  h1 {
    font-size: 2rem;
  }

.doc-content {
  /* set default margin top */
  scroll-margin-top: 115px;
}

.doc-content h2:target,
.doc-content h3:target,
.doc-content h4:target,
.doc-content h5:target,
.doc-content h6:target {
  /* adjust margin top for target elements */
  scroll-margin-top: 115px;
}

/* adjust doc-content margin top when a target is present */
.doc-content:target {
  scroll-margin-top: 115px;
}
}

@media only screen and (min-width: 1024px) and (max-width: 1450px) { 

  .toc-left {
    margin-top: 171px;
    height: calc(100% - 171px);
  }


  .toc-left.footer-visible {
    height: calc(100% - 500px)!important;
    overflow-y: auto;
  }

  h1 {
    font-size: 3rem;
    padding-top: 154px;
  }

  .doc-content {
    /* set default margin top */
    scroll-margin-top: 175px;
  }
  
  .doc-content h2:target,
  .doc-content h3:target,
  .doc-content h4:target,
  .doc-content h5:target,
  .doc-content h6:target {
    /* adjust margin top for target elements */
    scroll-margin-top: 175px;
  }
  
  /* adjust doc-content margin top when a target is present */
  .doc-content:target {
    scroll-margin-top: 175px;
  }
  }

@media only screen and (min-width: 1450px) { 

  .toc-left {
    margin-top: 111px;
    height: calc(100% - 111px);
  }


  .toc-left.footer-visible {
    height: calc(100% - 432px);
    overflow-y: auto;
  }

  h1 {
    font-size: 3rem;
    padding-top: 90px;
  } 

.doc-content {
  /* set default margin top */
  scroll-margin-top: 115px;
}

.doc-content h2:target,
.doc-content h3:target,
.doc-content h4:target,
.doc-content h5:target,
.doc-content h6:target {
  /* adjust margin top for target elements */
  scroll-margin-top: 115px;
}

/* adjust doc-content margin top when a target is present */
.doc-content:target {
  scroll-margin-top: 115px;
}
}

/* left toc general formats */

.toc-left {
  position: fixed;
  float: left;
  resize: horizontal;
  width: 25%;
  min-width: 0%;
  max-width: 40%;
  overflow: auto;
  padding-left: 10px;
  z-index: 0;
  box-sizing: border-box;
  border-right: 1px solid #dadfe6; 
}

.toc-left ul {
  list-style: none;
  padding: 0 0 0 0.25rem;
  word-wrap: break-word;
}

.toc-left li {
  margin: 0;
}

.toc-left a {
  display: block;
  padding: 1px 6px;
  color: #182C46 !important;
  text-decoration: none;
  transition: all 0.2s;
  }

  li > ul {
    margin-left: 16px;
  }

.toc-left li a:hover {
  color: $orange !important;
}

.footer {
  position: relative;
  clear: both;
}