/* For desktop devices */

/* span ToC last 4 columns*/
.toc-right {
  grid-column: span 4;
}

/* format ToC list */
.toc-right>.toc-list {
  overflow: hidden;
  position: relative;
  padding-top: 3rem;
}

/* color formats for ToC list links */
.toc-right>.toc-list a {
  color: #182C46 !important;
}

/* Do not display HTML-generated ToC */
.toc-content .toc {
  display: none;
}

/* Remove bullets from tocbot headings */
.toc-list {
  list-style: none;
  width: max-content;
  font-size: 1rem;
}

/* Remove link underlines */
a.toc-link {
  text-decoration: none;
}

/* hover color */
a.toc-link:hover {
  color: #AAAAAA !important;
}

/*color for toc scroll */
.is-active-link::before {
  background-color: #00b9E4;
}

.is-position-fixed {
  position: fixed !important;
  top: 0
}

/* For mobile devices */
@media only screen and (max-width: 700px) {
  .toc-right {
    display: none;
  }

  .toc-content {
    grid-column: span 12;
  }

  .toc-content .toc {
    display: contents;
    list-style: none;
  }

  .toc ul {
    list-style: none;
  }

}