.toc-content {
  .toc {
    display: none;
  }
  > h1:first-of-type {
    display: none;
  }
  @media screen and (max-width: 1170px) {
    grid-column: span 12;
  }
}

.toc {
  padding: 2rem;
  margin: 2rem;
  background-color: $light-blue;
  overflow-wrap: break-word;
  ul {
    list-style: none;
  }
  > ul {
    padding-left: 0;
  }
  @media screen and (max-width: 1170px) {
    display: none;
  }

  a code {
    color: inherit;
  }
}

.toc-content,
.toc-wrapper {
  min-width: 0;
}

/*=============== Styles for TOC search =================== */

.toc {

  input {
    border-radius: 10px;
    border-color: transparent;
    padding: .2rem 1rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    width: calc(100% - 34px);
  }

  ul.results > li.in:not(:first-child) {
    border-top: 2px dotted $white;
    padding-top: 1rem;
    margin-top: 1rem;
  }

  .empty-item {
    transition-property: opacity;
    transition-duration: 0s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }

  .empty .empty-item {
    transition-property: opacity;
    transition-duration: .2s;
    transition-delay: .3s;
    transition-timing-function: ease;
  }

  .hidden {
    display:none;
  }

  .empty-list {
    visibility:hidden;
    opacity:0;
  }

  .empty ~ .empty-list {
    opacity:1;
    visibility:visible;
    font-size: .9rem;
    font-style: italic;
  }
}
