<div class="join-us-band">
  <div class="component-slim grid-wrapper">
    <div class="width-12-12">
      <h2 class="blue">Grow with Strimzi</h2>
      
      <p>Everyone can join the Strimzi community and grow with it. 
        It doesn’t matter what your skills are because you can contribute in many different ways. 
        It also doesn’t matter whether you have just a few minutes to say Hi or whether you can spend several days coding some complicated feature.</p>

      <p>When you contribute to Strimzi - for example in one of the ways described above - you will become a Strimzi contributor. 
        We welcome all kinds of contributors - regardless whether you are implementing a feature needed by your company or whether you are just looking for something to spend your evenings with.</p>

      <p>As you contribute more and more you might focus on some particular areas and become what we call a <a href="https://github.com/strimzi/governance/blob/main/GOVERNANCE.md#component-owners"><i>“component owner”</i></a>. 
        Component owner has expertise and responsibility for one or more areas of the Strimzi project or one of its sub-projects. 
        As a component owner, you will be one of the go-to persons who will help to solve issues, answer questions, review and merge PRs. 
        You will also be helping to define the future direction of the area you are responsible for.</p>

      <p>As a component owner you can keep growing and become a <a href="https://github.com/strimzi/governance/blob/main/GOVERNANCE.md#maintainers">maintainer</a>. 
        But if you don’t want to specialize in one particular area of the Strimzi project, don’t worry. 
        You can keep contributing to different areas and sub-projects and become a maintainer even before being component owner first.</p>

      <p>Maintainers take the overall responsibility for the whole project. 
        They provide leadership and steer its direction. But they also help to enforce its code of conduct, governance and independence. 
        Maintainers are helping users, reviewing and approving PRs or voting on the proposals which cover the major changes or new features of the Strimzi project. 
        As a maintainer, you are also responsible for helping new contributors to grow and become maintainers.
        You can check our <a href="https://github.com/strimzi/governance/blob/main/GOVERNANCE.md">Governance</a> together with the <a href="https://github.com/strimzi/governance/blob/main/MAINTAINERS">list of current maintainers</a> in our <a href="https://github.com/strimzi/governance">governance repository</a>.</p>

      <p>If you are interested in becoming a maintainer, you can just start contributing and we will notice you. 
        If you want, you can also <a href="mailto:cncf-strimzi-maintainers@lists.cncf.io">let us know</a> and we can help you grow by guiding you to the areas which might need some help. 
        And remember, you do not have to be a world-class programmer who writes hundreds of lines of Java code each day. 
        All kinds of contributions count!</p>

    </div>
  </div>
</div>