<div class="join-us-band">
  <div class="component-slim grid-wrapper">
    <div class="width-12-12">

      <h3>Table of contents</h3>

      <ul>
        <li><a href="#contribute-to-strimzi">Contribute to Strimzi</a>
          <ul>
            <li><a href="#join-the-community">Join the community</a></li>
            <li><a href="#ask-for-help-and-help-others">Ask for help and help others</a></li>
            <li><a href="#provide-feedback-and-improve-quality">Provide Feedback and improve quality</a></li>
            <li><a href="#spread-the-word">Spread the word</a></li>
            <li><a href="#write-code">Write code</a></li>
          </ul>
        </li>
        <li><a href="#grow-with-strimzi">Grow with Strimzi</a>
          <ul>
            <li><a href="#component-owners">Component Owners</a></li>
            <li><a href="#maintainers">Maintainers</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>