<div class="full-width-bg connectors-cards-grid">
  <div class="grid-wrapper">
    <div class="cards-grid-wrapper">
     <div class="conn-tabs"> 

      <input type="radio" name="connectors-tab" id="allTab" checked="checked">
      <label for="allTab">All</label>

      <div class="tab">
        <div class="grid-wrapper connector-list">
          {% for connector in site.data.connectors %}
            {% assign item = connector[1] %}
            <div id="{{ item.id }}" class="card">
              <div class="title">
                {{ item.name }}
              </div>
              <div>
                <small>{{ item.category }} Connector</small>
                <i class="fab fa-github"></i>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      {% for cat in site.data.connectors_tabs %}

      <input type="radio" name="connectors-tab" id="{{ cat }}Tab">
      <label for="{{ cat }}Tab">{{ cat }}</label>

      <div class="tab">
        <div class="grid-wrapper connector-list">
          {% for connector in site.data.connectors %}
            {% assign item = connector[1] %}
            {% if item.category == cat %}
              <div id="{{ item.id }}" class="card">
                <div class="title">
                  {{ item.name }}
                </div>
                <div>
                  <small>{{ item.category }} Connector</small>
                  <i class="fab fa-github"></i>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    <p>Do you have a connector for Strimzi? <a href="https://slack.cncf.io/" target="_blank">Let us know</a>.</p>
  </div>
  {% for connector in site.data.connectors %}
  {% assign item = connector[1] %}
  <div id="content_{{ item.id }}" class="width-6-12 connector-content-wrapper">
    <div class="exit-content">
      <i class="fas fa-times"></i>
      <span>Back to all Connectors</span>
    </div>
    <h1 class="text-caps">{{ item.name }}</h1>
    <div class="connector-info">
      <p><b>{{ item.category }} Connector</b> | {{ item.description }}</p>
    </div>
    <ul class="connector-links">
      {% if item.source.jarUrlTemplate %}
        <li><a href="{{item.source.jarUrlTemplate}}"><i class="fas fa-arrow-circle-down"></i> Get Connector</a></li>
      {% endif %}
      {% if item.source.sourceCodeUrlTemplate %}
        <li><a href="{{item.source.sourceCodeUrlTemplate}}"><i class="fab fa-github"></i> Source Code</a></li>
      {% endif %}
      {% if item.source.documentationUrlTemplate %}
        <li><a href="{{item.source.documentationUrlTemplate}}">View the Documentation <i class="fas fa-external-link-alt"></i></a></li>
      {% endif %}
      {% if item.source.licenseUrlTemplate %}
        <li><a href="{{item.source.licenseUrlTemplate}}">View the Licence <i class="fas fa-external-link-alt"></i></a></li>
      {% endif %}
    </ul>
    {% if item.installationTemplate %}
      <div>
        {% capture foo %} {{item.installationTemplate}} {% endcapture %}
        <h4 class="text-caps">Installation</h4>
        {{ foo | markdownify }}
      </div>
    {% endif %} 
  </div>
  {% endfor %}
</div>
</div>
