<!DOCTYPE html>
<html>

{% include site-header.html %}
<div class="doc-nav">
  <nav class="site-content">
    {% include header-navigation.html %}
  </nav>
</div>

<body class="{% if page.url == '/' %}homepage{% else %}{{page.layout}}{% endif %}">
  <div class="doc-main">
    <nav class="toc-left">
      {% include toc.html html=content sanitize=true item_class="toc_heading_%level%" h_min=2 h_max=4 %}
    </nav>

    <div class="doc-content">
      <h1>
        {{ page.title | replace: '!LATEST_OPERATOR_VERSION!', site.data.releases.operator[0].version | replace:
        '!LATEST_BRIDGE_VERSION!', site.data.releases.bridge[0].version }}
      </h1>
      <p style="text-align: right; font-size: 1rem;"><i class="fa fa-edit"></i> <a href="https://github.com/strimzi/strimzi-kafka-operator/tree/main/documentation" target="_blank">Edit this page</a></p>
      {{ content }}
    </div>
  </div>
</body>

<nav class="site-content footer" id="footer">
  {% include project-footer.html %}
</nav>

{% include site-scripts.html %}
</html>

<style>
  /* adds a horizontal scroll bar to any doc tables that expand beyond the container */
  table {
    display: block;
    overflow-x: auto !important;
  }
</style>

<script>
  const footer = document.querySelector('#footer');
  const toc = document.querySelector('.toc-left');
  const content = document.querySelector('.doc-content');

  let isResizing = false;

  function setWidth() {
    if (isResizing) return;

    isResizing = true;

    setTimeout(() => {
      const tocWidth = toc.offsetWidth;
      const adjustedWidth = `calc(100% - ${tocWidth}px)`;
      content.style.width = adjustedWidth;
      isResizing = false;
    }, 500);
  }

  function throttleTocResize(func, delay) {
    let isResizing = false;

    return function () {
      if (isResizing) return;

      isResizing = true;

      setTimeout(() => {
        func();
        isResizing = false;
      }, delay);
    };
  }

  setWidth();

  window.addEventListener('resize', throttleTocResize(setWidth, 800));
  toc.addEventListener('mousemove', throttleTocResize(setWidth, 800));

  window.addEventListener('scroll', () => {
    const rect = footer.getBoundingClientRect();
    if (rect.top < window.innerHeight && rect.bottom > 0) {
      toc.classList.add('footer-visible');
    } else {
      toc.classList.remove('footer-visible');
    }
  });

</script>