<!DOCTYPE html>
<html>

{% include site-header.html %}

<body class="{% if page.url == '/' %}homepage{% else %}{{page.layout}}{% endif %}">
  {% include header-navigation.html %}
  <div class="site-content">
    <div class="grid-wrapper">
      <div class="grid__item width-12-12">
        <h1>{{ page.title | replace: '!LATEST_OPERATOR_VERSION!', site.data.releases.operator[0].version | replace: '!LATEST_BRIDGE_VERSION!', site.data.releases.bridge[0].version }}</h1>
      </div>
      <div class="grid__item width-8-12 toc-content">
        {{ content }}
      </div>
      <div class="grid__item width-4-12 toc-wrapper">
        <div class="toc">
          <input input type="text" id="search-text" placeholder="Search" />
          <p>Table of Contents</p>
          {% include toc.html html=content h_min=2 h_max=3 id="list" item_class="in"%}
          <span class="empty-list">No results</span>
        </div>
      </div>
    </div>
  </div>

  {% include project-footer.html %}

  {% include site-scripts.html %}

</body>

</html>
