<!DOCTYPE html>
<html>

{% include site-header.html %} 
 <div class="doc-nav">
  <nav class="site-content">
    {% include header-navigation.html %} 
  </nav> 
 </div> 

 <body class="{% if page.url == '/' %}homepage{% else %}{{page.layout}}{% endif %}">
  <div class="doc-main">
      <nav class="toc-left">
          {% include toc.html html=content %}
      </nav>
      
      <div class="doc-content"> 
        <h1>
          {{ page.title | replace: '!LATEST_OPERATOR_VERSION!', site.data.releases.operator[0].version | replace:
          '!LATEST_BRIDGE_VERSION!', site.data.releases.bridge[0].version }}
        </h1>
        {{ content }}
      </div> 
  </div>
</body>

{% include site-scripts.html %}
<nav class="site-content" style="position: relative; clear: both;">
  {% include project-footer.html %}
</nav>

</html>
