---
layout: base
---

<div class="post component grid-wrapper">
  <div class="width-10-12">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="width-8-12 width-12-12-m byline-wrapper">
    {% assign author = site.data.authors[page.author] %}
    {% if author.twitter != null %}
    <p class="byline">{{ page.date | date: '%B %d, %Y' }} by <a href="{{ author.twitter }}">{{ author.name }}</a></p>
    {% else %}
    <p class="byline">{{ page.date | date: '%B %d, %Y' }} by {{ author.name }}</p>
    {% endif %}
  </div>
  <div class="width-12-12 post-content">
    {{ content }}
    {% include share-page.html %}
  </div>
</div>
